body {

  width: 100%;
  margin: 0;
  padding: 0;
  height: 1100px;

  font-family: Bebas Neue, Arial;

  display: flex;
  position: relative;
  
}

body::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, .3);
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .3);
  border-radius: 20px;
}

.signup-sucess-done{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(120, 120, 120)  ;
  border-radius: 2px;
  box-shadow: 0px 0 15px rgba(19, 141, 0, 0.8);
  margin-bottom: 15px;
}

.signup-sucess-done p{
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-bottom: 0;
}

.signup-sucess-done a{
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  transition: 0.3s;
}
.signup-sucess-done a:hover{
  background-color: transparent;
  color: rgb(67, 67, 67);
}

.error-message-signup{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(120, 120, 120)  ;
  border-radius: 2px;
  box-shadow: 0px 0 15px rgba(255, 0, 0, 0.8);
  margin-bottom: 15px;
}

.error-message-signup p{
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-left: 15px;
  letter-spacing: 0.2px;
  font-weight: lighter;
}

.error-message-signup a {
  color: rgb(197, 197, 197);
  transition: 0.3s;
}

.error-message-signup a:hover {
  color: rgb(67, 67, 67);
}

* {
  box-sizing: border-box;
  scroll-padding-bottom: 32px;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

section {
  margin-top: 150px;
  width: 100%;
}

.signup-form-2container {
  display: flex;
}

.right-signup {
  margin-left: 100px;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid rgb(90, 90, 90);
  border-bottom: 3px solid rgb(90, 90, 90);
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.3);
  padding: 50px;
}

.signup-form-container input {
  font-family: Bebas Neue;
  color: rgb(117,117,117);
  margin-bottom: 25px;
  background-color: rgb(47, 47, 47);
  border-radius: 2px;
  padding: 5px;
  width: 400px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  font-family: Kanit;
  transition: 0.5s;
}

.signup-form-container input:focus {
  background-color: rgb(183, 183, 183);
  font-family: Kanit;
  color: black;

}

.input-field label {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: 0.3s;
}

.signup-form-container input::placeholder {
  font-size: 10px;
  color: rgb(117,117,117);
  position: absolute;
  transition: 0.3s;
} 

.signup-form-container input:focus::placeholder {
  color: transparent;
}

.input-field-button {
  display: flex;
  justify-content: center;
}

.signup-form-container button {
  background-color: rgb(100, 100, 100);
  color: rgb(222, 222, 222);
  font-family: Bebas Neue;
  padding: 10px 150px;
  border: none;
  font-size: 20px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.signup-form-container button:hover {
  background-color: rgb(126, 126, 126);
  color: rgb(222, 222, 222);
}

.signup-form-container button:active {
  background-color: rgb(146, 146, 146);
  color: rgb(238, 237, 237);
}
